@import "../global/sneak-vars";

.go-tag-id-variant-primary {
  display: inline-block;
  text-align: center;
  letter-spacing: 0.2 * 1em;
  @extend .py-4, .px-6, .text-primary, .bg-secondary;
  &:hover, &:focus {
    @extend .text-secondary, .bg-action;
  }
}

.go-tag-id-variant-secondary {
  @extend .go-tag-id-variant-primary;
  color: $text-brand-secondary;
  &:hover, &:focus {
    @extend .bg-dark;
  }
}
