@import "sneak-vars";

.sneak-icon {
  width: $sneak-icon-min-width;
  height: $sneak-icon-min-width;
  max-width: $sneak-icon-max-width;
  @media (min-width: $break-point-45-rem) {
    width: $sneak-icon-max-width;
    height: $sneak-icon-max-width;
  }
}

.social-icon {
  width: $size-social-logo;
  cursor: pointer;
  @extend .p-2, .m-3;
}

.copyright {
  display: inline-block;
  letter-spacing: 0.30 * 1em;
  text-align: center;
  @extend .text-light, .p-2, .m-2;
  .name-company {
    @extend .text-brand-secondary;
    background-color: white;
  }
}
