@import "sneak-vars";

.sneak-icon {
  width: $sneak-icon-min-width;
  height: $sneak-icon-min-width;
  max-width: $sneak-icon-max-width;
  @media (min-width: $break-point-45-rem) {
    width: $sneak-icon-max-width;
    height: $sneak-icon-max-width;
  }
}


.social-icon {
  width: $size-social-logo;
  cursor: pointer;
  @extend .p-2, .m-3;
}


.copyright {
  display: inline-block;
  letter-spacing: 0.30 * 1em;
  text-align: center;
  @extend .text-light, .p-2, .m-2;
  .name-company {
    @extend .text-brand-secondary;
    background-color: white;
  }
}


// **** Burger icons ****
.burger-icon {
  @extend .py-2, .px-3, .m-auto;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: solid $unit-1 $text-light;
  border-radius: $unit-2;
  background-color: transparent;
  .burger-icon-line {
    display: block;
    width: $size-x-medium;
    height: $unit-2;
    margin: $unit-2 0;
    border-radius: $unit-2;
    transition: all .1s ease-in-out;
    background-color: $text-light;
  }
  &:hover, &:focus-within {
    border-color: $bg-action;
    .burger-icon-line {
      @extend .bg-action
    }
  }
  // Rotate first and last span
  &:focus-within {
    > .burger-icon-inner-container {
      display: block;
      transform-origin: center;
      transform: scale(1.2) translate(($unit-2 + ($unit-1 / 2)), 0);
    }
    .burger-icon-line:first-child {
      transform-origin: top left;
      transform: rotate(+45deg);
    }
    .burger-icon-line:nth-child(2) {
      visibility: hidden;
    }
    .burger-icon-line:last-child {
      transform-origin: bottom left;
      transform: rotate(-45deg);
    }
  }
}


// **** Masonry style *****
// Variables
$image-size: $unit-2 + 1px;
$gap-size: $size-large;

.grid-gallery-masonry {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: $image-size;
  grid-gap: $gap-size;
  grid-auto-flow: row dense;
  &__item {
    &:nth-child(1n+1) { grid-row: span 64; }
    &:nth-child(2n+1) { grid-row: span 50; }
    &:nth-child(3n+1) { grid-row: span 108; }
    &:nth-child(4n+1) { grid-row: span 120; }
    &:nth-child(5n+1) { grid-row: span 95; }
    &:nth-child(6n+1) { grid-row: span 54; }
    &:nth-child(7n+1) { grid-row: span 96; }
    &:nth-child(8n+1) { grid-row: span 135; }
    &:nth-child(9n+1) { grid-row: span 60; }
    &:nth-child(10n+1) { grid-row: span 96; }
    &:nth-child(11n+1) { grid-row: span 100; }
    &:nth-child(12n+1) { grid-row: span 58; }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  //@media (min-width: $break-point-20-rem) {
  //  grid-template-columns: 1fr;
  //}
  @media (min-width: $break-point-48-rem) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $break-point-64-rem) {
    grid-template-columns: repeat(3, 1fr);
  }
}
