
$fs-root: 16px;
$ff-primary: "Questrial", sans-serif;
$ff-title: "Montserrat", sans-serif;

$brand-color-primary: #fc758c;
$brand-color-primary-actions: #ff5672;
$brand-color-secondary: #f7f7f7;

$text-brand: #707070;
$text-white: #ffffff;
$text-primary: #303030;
$text-secondary: $brand-color-secondary;
$text-light: #c3d0d8;

$bg-white: #ffffff;
$bg-light: $brand-color-secondary;
$bg-primary: $brand-color-primary;
$bg-secondary: $brand-color-secondary;
$bg-action: $brand-color-primary-actions;
